.spin-left-margin { border-radius: 2px; }

/* tubemap color code */
.bakerloo { background-color: #AE6118; }
.central { background-color: #E41F1F; }
.circle { background-color: #F8D42D; }
.district { background-color: #007229; }
.dlr { background-color: #00BBB4; }
.hsmithcity { background-color: #E899A8; }
.jubilee { background-color: #686E72; }
.metropolitan { background-color: #893267; }
.northern { background-color: #000000; }
.overground { background-color: #F86; }
.piccadilly { background-color: #0450A1; }
.victoria { background-color: #009FE0; }
.waterloocity { background-color: #70C3CE; }