/*///////////////////////////////////////////////////////////////////////////*/
/*/// Panel Animation                                                     ///*/
/*///////////////////////////////////////////////////////////////////////////*/

.spin-hiddenleft  { left:   0%; right: 100%; }
.spin-hiddenright { left: 100%; right:   0%; }
.spin-small       { left:   0%; right:  66%; }
.spin-big         { left:  34%; right:   0%; }
.spin-full        { left:   0%; right:   0%; }

/* 01 */.spin-small-hiddenleft,
/* 02 */.spin-hiddenleft-small,
/* 03 */.spin-big-hiddenleft,
/* 04 */.spin-hiddenleft-big,
/* 05 */.spin-full-hiddenleft,
/* 06 */.spin-hiddenleft-full,
/* 07 */.spin-small-hiddenright,
/* 08 */.spin-hiddenright-small,
/* 09 */.spin-big-hiddenright,
/* 10 */.spin-hiddenright-big,
/* 11 */.spin-full-hiddenright,
/* 12 */.spin-hiddenright-full,
/* 13 */.spin-big-small,
/* 14 */.spin-small-big,
/* 15 */.spin-full-small,
/* 16 */.spin-small-full {
    -moz-animation-duration: 0.5s;
    -moz-animation-timing-function: ease;
}

/* 01 */
.spin-small-hiddenleft {
    -moz-animation-name: spin-small-hiddenleft;
}

    @-moz-keyframes spin-small-hiddenleft {
        from { left:   0%; right:  66%; }
        to   { left: -33%; right: 100%; }
    }

/* 02 */
.spin-hiddenleft-small {
    -moz-animation-name: spin-hiddenleft-small;
}

    @-moz-keyframes spin-hiddenleft-small {
        from { left: -33%; right: 100%; }
        to   { left:   0%; right:  66%; }
    }

/* 03 */

.spin-big-hiddenleft {
    -moz-animation-name: spin-big-hiddenleft;
}

    @-moz-keyframes spin-big-hiddenleft {
        from { left:  34%; right:   0%; }
        to   { left: -67%; right: 100%; }
    }

/* 04 */
.spin-hiddenleft-big {
    -moz-animation-name: spin-hiddenleft-big;
}

    @-moz-keyframes spin-hiddenleft-big {
        from { left: -67%; right: 100%; }
        to   { left:  34%; right:   0%; }
    }

/* 05 */
.spin-full-hiddenleft {
    -moz-animation-name: spin-full-hiddenleft;
}

    @-moz-keyframes spin-full-hiddenleft {
        from { left:    0%; right:   0%; }
        to   { left: -100%; right: 100%; }
    }

/* 06 */
.spin-hiddenleft-full {
    -moz-animation-name: spin-hiddenleft-full;
}

    @-moz-keyframes spin-hiddenleft-full {
        from { left: -100%; right: 100%; }
        to   { left:    0%; right:   0%; }
    }

/* 07 */
.spin-small-hiddenright {
    -moz-animation-name: spin-small-hiddenright;
}

    @-moz-keyframes spin-small-hiddenright {
        from { left:   0%; right: 66%; }
        to   { left: 100%; right:-33%; }
    }

/* 08 */
.spin-hiddenright-small {
    -moz-animation-name: spin-hiddenright-small;
}

    @-moz-keyframes spin-hiddenright-small {
        from { left: 100%; right: -33%; }
        to   { left:   0%; right:  66%; }
    }

/* 09 */
.spin-big-hiddenright {
    -moz-animation-name: spin-big-hiddenright;
}

    @-moz-keyframes spin-big-hiddenright {
        from { left:  34%; right:   0%; }
        to   { left: 100%; right: -67%; }
    }

/* 10 */
.spin-hiddenright-big {
    -moz-animation-name: spin-hiddenright-big;
}

    @-moz-keyframes spin-hiddenright-big {
        from { left: 100%; right: -67%; }
        to   { left:  34%; right:   0%; }
    }

/* 11 */
.spin-full-hiddenright {
    -moz-animation-name: spin-full-hiddenright;
}

    @-moz-keyframes spin-full-hiddenright {
        from { left:   0%; right:    0%; }
        to   { left: 100%; right: -100%; }
    }

/* 12 */
.spin-hiddenright-full {
    -moz-animation-name: spin-hiddenright-full;
}

    @-moz-keyframes spin-hiddenright-full {
        from { left: 100%; right: -100%; }
        to   { left:   0%; right:    0%; }
    }

/* 13 */
.spin-big-small {
    -moz-animation-name: spin-big-small;
}

    @-moz-keyframes spin-big-small {
        from { left: 34%; right:  0%; }
        to   { left:  0%; right: 66%; }
    }

/* 14 */
.spin-small-big {
    -moz-animation-name: spin-small-big;
}

    @-moz-keyframes spin-small-big {
        from { left:  0%; right: 66%; }
        to   { left: 34%; right:  0%; }
    }

/* 15 */
.spin-full-small {
    -moz-animation-name: spin-full-small;
}

    @-moz-keyframes spin-full-small {
        from { left: 0%; right:  0%; }
        to   { left: 0%; right: 66%; }
    }

/* 16 */
.spin-small-full {
    -moz-animation-name: spin-small-full;
}

    @-moz-keyframes spin-small-full {
        from { left: 0%; right: 66%; }
        to   { left: 0%; right:  0%; }
    }
